mcp>=1.8.0
python-dotenv>=1.1.0
starlette>=0.46.1
uvicorn>=0.34.0
PyJWT>=2.8.0
sqlalchemy>=2.0.0
pymysql>=1.1.0
psycopg2-binary>=2.9.10
oracledb>=3.3.0
cx_Oracle>=8.3.0
pymssql>=2.3.7
pyodbc >=5.2.0
click~=8.2.1
pydantic-settings~=2.10.1
dmSQLAlchemy>=2.0.0
dmPython>=2.5.22
setuptools>=80.9.0